//
// Notes to End Users.
//
// The workflow should run without editing this configuration file,
// however there may be instances in which you wish to edit this
// file for compute performance or other reasons. Please see:
// 
//   https://nextflow.io/docs/latest/config.html#configuration
//
// for further help editing this file.


params {
    help = false
    out_dir = "output"
    wfversion = "v0.0.1"
    params.fastq = null
    params.references = null
    params.counts = "NO_COUNTS"
    params.demux = false
    params.batch= 100
    params.threads = 4
}


executor {
    $local {
        cpus = 4
        memory = "8 GB"
    }
}


profiles {
    // the "standard" profile is used implicitely by nextflow
    // if no other profile is given on the CLI
    standard {
        process.executor = 'local'
    }

    docker {
        docker {
            enabled = true
            // this ensures container is run as host user and group, but
            //    also adds host user to the within-container group
            runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
        }
        process {
            container = "ontresearch/wf-alignment:${params.wfversion}"
            shell = ['/bin/bash', '-euo', 'pipefail']
        }
    }

    // profile using conda environments rather than docker
    // containers
    conda {
        docker {
            enabled = false
        }
        process {
            conda = "environment.yaml"
        }
        conda {
             cacheDir = ""
        }
    }
}

timeline {
  enabled = true
  file = "${params.out_dir}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.out_dir}/execution_report.html"
}
trace {
  enabled = true
  file = "${params.out_dir}/execution_trace.txt"
}
dag {
  enabled = true
  file = "${params.out_dir}/pipeline_dag.svg"
}
